<!DOCTYPE html>
<html>

<head>
<title>Apply Leave</title>
</head>

<body>

<h1>Apply Leave</h1>

<form method="POST">

{% csrf_token %}

<label>Leave Type</label>

<select name="leave_type">

<option>Casual</option>

<option>Sick</option>

<option>Paid</option>

<option>LOP</option>

</select>

<br><br>

<label>Start Date</label>

<input
    type="date"
    name="start_date">

<br><br>

<label>End Date</label>

<input
    type="date"
    name="end_date">

<br><br>

<label>Reason</label>

<br>

<textarea
    name="reason"
    rows="5"
    cols="50">
</textarea>

<br><br>

<button type="submit">

Apply Leave

</button>

</form>

</body>

</html>